<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>商家入驻申请</title>
    <link rel="stylesheet" type="text/css" href="css/webbase.css" />
	<link rel="stylesheet" type="text/css" href="css/pages-register.css" />
	<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
	<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

	

</head>

<body id = "app">
	<div class="register py-container ">
		<!--head-->
		<div class="logoArea">
			<a href="" class="logo"></a>
		</div>
		<!--register-->
		<div class="registerArea">
			<h3>商家入驻申请<span class="go">我有账号，去<a href="shoplogin.html" target="_blank">登陆</a></span></h3>
			<div class="info">
				<form  @submit="checkForm" class="sui-form form-horizontal"    action="http://localhost:9001/consumer/shopdetail/register"  novalidate="true" method="post">
				
					<div class="control-group">
						<label class="control-label">登陆名（不可修改）：</label>
						<div class="controls">
							<input type="text" v-model="registDto.username"  name ="username" placeholder="登陆名" class="input-xfat input-xlarge">
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label">登陆密码：</label>
						<div class="controls">
							<input type="password" v-model="registDto.password" name ="password" placeholder="登陆密码" class="input-xfat input-xlarge">
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label">店铺名称：</label>
						<div class="controls">
							<input type="text" v-model="registDto.shopName" name ="shopName"  placeholder="店铺名称" class="input-xfat input-xlarge">
						</div>
					</div>
				  
					<div class="control-group">
						<label class="control-label">店铺地址：</label>
						<div class="controls">
							<input type="text" v-model="registDto.shopAddress" name ="shopAddress"  placeholder="店铺地址" class="input-xfat input-xlarge">
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label">邮箱：</label>
						<div class="controls">
							<input type="email"  v-model="registDto.shopEmail" name ="shopEmail"  placeholder="邮箱" class="input-xfat input-xlarge">
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label">电话：</label>
						<div class="controls">
							<input type="text"  v-model="registDto.shopPhone" name ="shopPhone"  placeholder="电话" class="input-xfat input-xlarge">
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label">mch_id：</label>
						<div class="controls">
							<input type="text" v-model="registDto.mchId" name ="mchId"  placeholder="mch_id" class="input-xfat input-xlarge">
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label">app_key：</label>
						<div class="controls">
							<input type="text" v-model="registDto.apiKey" name ="apiKey"  placeholder="app_key" class="input-xfat input-xlarge">
						</div>
					</div>


					<p v-if="errors.length">
					
						<ul>
						  <li v-for="error in errors">{{ error }}</li>
						</ul>
					  </p>
					<div class="control-group">
						<label for="inputPassword" class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
						<div class="controls">
							<input name="m1" type="checkbox" value="2" checked=""><span>同意协议并注册  <a href="sampling.html">《品优购商家入驻协议》</a></span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"></label>
						<div class="controls btn-reg">
							<!-- <input class="sui-btn btn-block btn-xlarge btn-danger" type="submit" target="_blank" value="申请入驻"/> -->
							<button class="sui-btn btn-block btn-xlarge btn-danger" v-on:click="register" target="_blank">申请入驻</button>
						</div>
					</div>
				</form>
				<div class="clearfix"></div>
			</div>
		</div>
		<!--foot-->
		<div class="py-container copyright">
			<ul>
				<li>关于我们</li>
				<li>联系我们</li>
				<li>联系客服</li>
				<li>商家入驻</li>
				<li>营销中心</li>
				<li>手机品优购</li>
				<li>销售联盟</li>
				<li>品优购社区</li>
			</ul>
			<div class="address">地址：北京市昌平区建材城西路金燕龙办公楼一层 邮编：100096 电话：400-618-4000 传真：010-82935100</div>
			<div class="beian">京ICP备08001421号京公网安备110108007702
			</div>
		</div>
	</div>

<script type="text/javascript" src="register.js"></script>

</body>

</html>