<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品编辑</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="../css/zpageNav.css" rel="stylesheet" />


    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/jQuery/jquery.cookie.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

    <script src="../js/zpageNav.js"></script>




</head>

<body class="hold-transition skin-red sidebar-mini">

    <!-- 正文区域 -->
    <section class="content" id="all">

        <div class="box-body">

            <!--tab页-->
            <div class="nav-tabs-custom">

                <!--tab头-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#type_tab" data-toggle="tab">类别管理</a>
                    </li>


                </ul>
                <!--tab头/-->

                <!--tab内容-->
                <div class="tab-content">

                    <!--表单内容-->
                    <div class="tab-pane active" id="type_tab">
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <a href="add_dishtype.html" class="btn btn-default" title="新建"><i class="fa fa-file-o"></i>
                                            新建</a>
                                        <button type="button" class="btn btn-default" title="删除" @click="delSelected"><i
                                                class="fa fa-trash-o"></i>
                                            删除</button>
                                        <!-- <button type="button" class="btn btn-default" title="提交审核"><i class="fa fa-check"></i>
                                            提交审核</button>
                                        <button type="button" class="btn btn-default" title="屏蔽" onclick='confirm("你确认要屏蔽吗？")'><i
                                                class="fa fa-ban"></i> 屏蔽</button> -->
                                        <button type="button" class="btn btn-default" title="刷新" @click="window.location.reload();"><i
                                                class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                           
                            <!--工具栏/-->

                            <!--数据列表-->
                            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th class="" style="padding-right:0px">
                                            <input id="selall" type="checkbox" v-model="checked" @click="changeAllChecked()"
                                                class="icheckbox_square-blue">
                                        </th>
                                      
                                        <th class="sorting">菜品分类名称</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="dishType in dishTypeList">
                                        <td><input type="checkbox" :value="dishType.id" v-model="ids"></td>
                                        <!-- <td><input type="checkbox" value="{{dishType.id}}" v-model="ids"></td> -->
                                      
                                        <td>{{dishType.typeName}}</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                            <!--数据列表/-->


                        </div>
                    </div>






                </div>
                <!--tab内容/-->
                <!--表单内容/-->

            </div>




        </div>
        <!-- pagination start-->
        <div class="wrap" id="wrap">
            <zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total" v-bind:max-page="maxPage"
                v-on:pagehandler="pageHandler">
                <zpagenav>
        </div>

    </section>



    <!-- 正文区域 /-->
    <script type="text/javascript">
        new Vue({
            el: '#all',
            data: {
                checked: false,
                dishTypeList: [],
                ids: [],
                checkedAll: [],
                page: 1,  //显示的是哪一页
                pageSize: 10, //每一页显示的数据条数
                total: 10, //记录总数
                maxPage: 2,
                shopId: 1
            },
            created: function () {

                this.shopId = $.cookie('shopId');
                this.maxPage = this.total / this.pageSize + 1,
                    this.pageHandler(1);
            },
            methods: {
               
                changeAllChecked: function () {
                    var _this = this;
                    if (!this.checked) {
                        this.dishTypeList.forEach(function (item) {

                            _this.ids.push(item.id);
                        });
                        console.log(this.ids);
                    } else {
                        this.ids = [];

                    }

                },
                delSelected: function () {
                    var str = '';
                    for (var i = 0; i < this.ids.length; i++) {
                        str = str + this.ids[i] + ',';

                    }
                    $.ajax({         
		                url: 'http://127.0.0.1:9527/shop/consumer/shopdishes/getIfDishByTypeId',
		                type: 'GET',       
		                xhrFields: {                                           
		                    withCredentials: true // 这里设置了withCredentials   
		                 }, 
		                 data:{
		                	 ids: str, shopId: this.shopId,
		                 },
		                 emulateJSON: true,
		                success: function(data) {
		                	console.log(data.code);
		                	 if (data.code == 0) {
		                            if (confirm("若删除分类，分类下的菜品也将删除，确定删除吗？")) {
		                              
		                            	$.ajax({         
		            		                url: 'http://127.0.0.1:9527/shop/consumer/shopdishes/delDishTypeById/' + str,
		            		                type: 'GET',       
		            		                xhrFields: {                                           
		            		                    withCredentials: true // 这里设置了withCredentials   
		            		                 },     
		            		                success: function(data) {
		            		                	alert("删除成功");
		            	                        this.pageHandler(this.page);
		            		                 },            
		            		                error: function(err) {    		               
		            		                    console.error(err)    ;
		            		                    alert("发生错误");
		            		                }        
		            		                });
		                            }else {
		                                console.log("取消");
		                                return false;
		                            }
		                	 }else{
		                		 
		                		 $.ajax({         
	            		                url: 'http://127.0.0.1:9527/shop/consumer/shopdishes/delDishTypeById/' + str,
	            		                type: 'GET',       
	            		                xhrFields: {                                           
	            		                    withCredentials: true // 这里设置了withCredentials   
	            		                 },     
	            		                success: function(data) {
	            		                	alert("删除成功");
	            	                        this.pageHandler(this.page);
	            		                 },            
	            		                error: function(err) {    		               
	            		                    console.error(err)    ;
	            		                    alert("发生错误");
	            		                }        
	            		                });
		                        }
		                 },            
		                error: function(err) {    		               
		                    console.error(err)    ;
		                    alert("发生错误");
		                }        
		                });
                    
                    console.log(str);
                },
                pageHandler: function (page) {
                    //here you can do custom state update
                    this.page = page;
                    
                    $.ajax({         
		                url: 'http://127.0.0.1:9527/shop/consumer/shopdishes/getAllDishType/' + this.shopId + '/' + this.page + '/' + this.pageSize,
		                type: 'GET',       
		                xhrFields: {                                           
		                    withCredentials: true // 这里设置了withCredentials   
		                 },     
		                success: function(data) {
		                	this.dishTypeList = data.rows;
	                        this.total = data.total;
		                 },            
		                error: function(err) {    		               
		                    console.error(err)    ;
		                    alert("发生错误");
		                }        
		                });

                }
            },
            watch: {
                "ids": function () {
                    if (this.ids.length == this.checkedAll.length) {
                        this.checked = false
                    } else {
                        this.checked = true
                    }
                }
            }
        })

       

    </script>

</body>

</html>