<!DOCTYPE html>
<html>

<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>订单管理</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">

<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">
<link href="../css/zpageNav.css" rel="stylesheet" />
<link rel="stylesheet" href="../css/element.min.css">
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script
	src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

<script src="../js/element.min.js"></script>
<script src="../js/zpageNav.js"></script>



</head>

<body class="hold-transition skin-red sidebar-mini">

	<!-- 正文区域 -->
	<section class="content" id="all">

		<div class="box-body">

			<!--tab页-->
			<div class="nav-tabs-custom">

				<!--tab头-->
				<ul class="nav nav-tabs">
					<li class="active"><a href="#type_tab" data-toggle="tab">订单管理</a>
					</li>


				</ul>
				<!--tab头/-->

				<!--tab内容-->
				<div class="tab-content">

					<!--表单内容-->
					<div class="tab-pane active" id="type_tab">
						<div class="table-box">

							<!--工具栏-->
							<div class="pull-left">
								<div class="form-group form-inline">
									
										<button type="button" class="btn btn-default" title="刷新"
											@click="window.location.reload();">
											<i class="fa fa-refresh"></i> 刷新
										</button>


									</div>
								</div>
							</div>


							<!--数据列表-->
							<table id="dataList"
								class="table table-bordered table-striped table-hover dataTable">
								<thead>
									<tr>
										

										<th class="sorting">订单号</th>
										<th class="sorting">桌号</th>									
										<th class="sorting">订单总价</th>
										<th class="sorting">订单状态</th>
										<th class="sorting">下单时间</th>
										<th class="text-center">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="dish in dishList">									
										<td>{{dish.orderNo}}</td>
										<td>{{dish.tableNum}}</td>										
										<td>{{dish.cost}}元</td>
										<td v-if="dish.orderStatus == 0" ><h5 ref="status">未支付 未上菜</h5></td>
										<td v-else-if="dish.orderStatus == 1" ><h5 value="1" id="status2">已支付 未上菜</h5></td>
										<td v-else-if="dish.orderStatus == 2" ><h5 value="2" id="status3">未支付 已上菜</h5></td>
										<td v-else > <h5 value="3" id="status4">已支付 已上菜</h5></td>
										<td>{{dish.createTime}}</td>
										<td class="text-center">
											<button type="button" class="btn bg-olive btn-xs"
												@click="detailDish(dish.id)">详情</button>
												
												<button type="button" class="btn bg-olive btn-xs"
												@click="boxDish(dish.orderStatus,dish.id)">已上菜</button>
												<button type="button" class="btn bg-olive btn-xs"
												@click="boxPay(dish.orderStatus,dish.id)">已支付</button>
										</td>
									</tr>
								</tbody>
							</table>
							<!--数据列表/-->


						</div>
					</div>






				</div>
				<!--tab内容/-->
				<!--表单内容/-->

			</div>




		</div>
		<div class="wrap" id="wrap">
			<zpagenav v-bind:page="page" v-bind:page-size="pageSize"
				v-bind:total="total" v-bind:max-page="maxPage"
				v-on:pagehandler="pageHandler"> <zpagenav>
		</div>


	</section>



	<!-- 正文区域 /-->
	<script type="text/javascript">
	var	orderStatus;
        new Vue({
            el: '#all',
            data: {
                checked: false,
                dishList: [],
                status: 0,
                ids: [],
                checkedAll: [],
                page: 1,  //显示的是哪一页
                pageSize: 20, //每一页显示的数据条数
                total: 10, //记录总数
                maxPage:2,
                shopId:1,
                value:'',
                
            },
            created: function () {
                this.shopId=23;
                this.maxPage=this.total/this.pageSize+1,
                this.pageHandler(1);
                
            },
            methods: {
              
            	
                detailDish(id){
                	//alert(id);
                	 location.href="order_details.html?orderId="+encodeURI(id);
                },
               
               //massagebox
               boxDish(status,id){
                  if(status == 0){
                	  status=2; 
                	  this.$confirm('是否上菜?', '提示', {
    			          confirmButtonText: '确定',
    			          cancelButtonText: '取消',
    			          type: 'warning'
    			        }).then(() => {
    			          this.updateServing(status,id);
    			        }).catch(() => {
    			          this.$message({
    			            type: 'info',
    			            message: '取消'
    			          });          
    			        });
                	   	              		
                	}else if(status ==1){
                		status=3;
                		this.$confirm('是否上菜?', '提示', {
      			          confirmButtonText: '确定',
      			          cancelButtonText: '取消',
      			          type: 'warning'
      			        }).then(() => {
      			          this.updateServing(status,id);
      			        }).catch(() => {
      			          this.$message({
      			            type: 'info',
      			            message: '取消'
      			          });          
      			        });
                	}else{
                		status=3;
                	}
                
                }, 
                boxPay(status,id){
                    if(status == 0){
                  	  status=1; 
                  	  this.$confirm('是否支付?', '提示', {
      			          confirmButtonText: '确定',
      			          cancelButtonText: '取消',
      			          type: 'warning'
      			        }).then(() => {
      			          this.updatePay(status,id);
      			        }).catch(() => {
      			          this.$message({
      			            type: 'info',
      			            message: '取消'
      			          });          
      			        });
                  	   	              		
                  	}else if(status ==2){
                  		status=3;
                  		this.$confirm('是否支付?', '提示', {
        			          confirmButtonText: '确定',
        			          cancelButtonText: '取消',
        			          type: 'warning'
        			        }).then(() => {
        			          this.updatePay(status,id);
        			        }).catch(() => {
        			          this.$message({
        			            type: 'info',
        			            message: '取消'
        			          });          
        			        });
                  	}else{
                  		status=3;
                  	}
                  
                  },
                //修改上菜状态
                updateServing(status,id){
                	//http://localhost:9003/consumer/shoporder/updatOrder/{orderStatus}/{id}
                	//this.page = 1;
                	//alert(status);             	
                	   this.$http.get('http://localhost:9003/consumer/shoporder/updatOrder/'+status+'/'+id).then(function (response) {

                        
                        this.dishList = response.body.rows;
                        
                        this.total=response.body.total;
                        this.pageHandler(1);
                    }, function (response) {
                        // 发生错误
                     
                        alert("发生错误")
                    });    
                },
                //修改支付状态
                updatePay(status,id){
                	
                	
                	
                	 this.$http.get('http://localhost:9003/consumer/shoporder/updatOrder/'+status+'/'+id).then(function (response) {

                        
                        this.dishList = response.body.rows;
                        
                        this.total=response.body.total;
                        this.pageHandler(1);
                    }, function (response) {
                        // 发生错误
                     
                        alert("发生错误")
                    });  
                },
                
           
           //http://localhost:9003/consumer/shoporder/findNotFinishOrder/{page}/{size}/{shopId}
           //详情查询          
                pageHandler: function (page) {
				
                    //here you can do custom state update
                    this.page = 1;
                    
                   //http://localhost:9003/consumer/shoporder/findAllOrder/1/5/23

                    this.$http.get('http://localhost:9003/consumer/shoporder/findNotFinishOrder/'+this.page+'/'+this.pageSize+'/'+this.shopId).then(function (response) {

               
                        this.dishList = response.body.rows;
                        
                        this.total=response.body.total;
                        
                    }, function (response) {
                        // 发生错误
                     
                        alert("发生错误")
                    }); 
                    
                },
              
            },
            
            watch: {
                "ids": function () {
                    if (this.ids.length == this.checkedAll.length) {
                        this.checked = false
                    } else {
                        this.checked = true
                    }
                }
            },
            mounted() {           
                this.pageHandler(1);
                setInterval(this.pageHandler, 5000);
            }
        })

    </script>

</body>

</html>