<!DOCTYPE html>
<html>

<head>
	<!-- 页面meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>基本信息</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

	<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<!-- <link rel="stylesheet" href="../css/add.dishes.css"> -->
	<link rel="stylesheet" type="text/css" href="../css/cityPicker.css">

	
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="../plugins/jQuery/jquery.cookie.js"></script>
	<script src="../js/vue.min.js"></script>
	<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>


	<script src="http://gosspublic.alicdn.com/aliyun-oss-sdk-4.4.4.min.js"></script>



</head>

<body class="hold-transition skin-red sidebar-mini">

	<!-- 正文区域 -->
	<section class="content" id="app">
		<!-- <form @submit.prevent="upload" method="post" enctype="multipart/form-data"> -->
		<div class="box-body">

			<!--tab页-->
			<div class="nav-tabs-custom">

				<!--tab头-->
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#home" data-toggle="tab">基本信息</a>
					</li>

				</ul>
				<!--tab头/-->

				<!--tab内容-->
				<div class="tab-content">


					<!--表单内容-->
					<div class="tab-pane active" id="home">
						<div class="row data-type">

							<div class="col-md-2 title">店铺名称</div>
							<div class="col-md-10 data">
								<input type="text" class="form-control" v-model.trim="shop.shopName" placeholder="店铺名称" value="">
							</div>
							<div class="col-md-2 title">密码</div>
							<div class="col-md-10 data">
								<input type="password" class="form-control" v-model.trim="shop.password"  value="">
							</div>

							<div class="col-md-2 title">店铺类型</div>
							<div class="col-md-10 data">
								<select class="form-control" v-model="shop.shopTypeId">
									<option :value="type.id" v-for="type in shopTypeList">{{type.typeName}}</option>
								</select>
							</div>

							<div class="col-md-2 title">运营状态</div>
							<div class="col-md-10 data">
								<span v-if="shop.operateStatus == 0">未运营</span>
								<span v-else="shop.operateStatus == 1">已运营</span>
							</div>
							

							<div class="col-md-2 title">城市</div>
							<div class="col-md-10 data">
								<input type="text"  v-model="shop.shopCity" name="shopCity"  placeholder="请输入城市名" id="cityChoice"/>
								<input type="hidden" id="province" value="">
								<input type="hidden" id="city" value="">
							</div>
							
							<div class="col-md-2 title">详情地址</div>
							<div class="col-md-10 data">
								<input type="text" class="form-control" v-model.trim="shop.shopAddress" placeholder="详情地址" value="">
							</div>
							<div class="col-md-2 title">邮箱</div>
							<div class="col-md-10 data">
								<input type="text" class="form-control" v-model.trim="shop.shopEmail" placeholder="邮箱" value="">
							</div>

							<div class="col-md-2 title">电话</div>
							<div class="col-md-10 data">
								<input type="text" class="form-control" v-model.trim="shop.shopPhone" placeholder="电话" value="">
							</div>

							<div class="col-md-2 title editer" style="height:150px;line-height: 150px;">店铺logo</div>
							<div class="col-md-10 data editer" style="height:150px;">
								<div class="dish_file">
									<input type="file" id="file1" @change="look_photo(1)" accept=".jpg,.png" />
								</div>
								<div class="picture_div">							
									<img class="dish_img" id="imgshow1" :src="shop.photoUrl" width="150px" height="120px" >
									<button class="btn btn-primary" type="button" v-on:click="upload_photo(1)">
											上传
									</button>
								</div>
							
							</div>
						

							<div class="col-md-2 title editer" style="height:200px;line-height: 200px;">转账二维码</div>
							<div class="col-md-10 data editer" style="height:200px;">

								<div class="dish_file">
									<input type="file" id="file2" @change="look_photo(2)" accept=".jpg,.png" />
								</div>
								<div class="picture_div">							
									<img class="dish_img" id="imgshow2" :src="shop.payPhoto" width="200px" height="150px" >
									<button class="btn btn-primary" type="button" v-on:click="upload_photo(2)">
											上传
									</button>
								</div>
							</div>





						</div>
					</div>




				</div>
				<!--tab内容/-->
				<!--表单内容/-->

			</div>


			<p v-if="error">
					
				<ul>
					<span v-model="error" style="color: red;">{{ error }}</span>
				</ul>
			</p>

		</div>
		
		<div class="btn-toolbar list-toolbar">
			<button class="btn btn-primary" v-on:click="submit_dish"><i class="fa fa-save"></i>修改</button>
			<!-- v-on:click="submit_dish" -->
		</div>
		<!-- </form> -->

	</section>





	<!-- 正文区域 /-->
	<script type="text/javascript" src="../js/cityData.js"></script>
	<script type="text/javascript" src="../js/cityPicker.js"></script>
	<script type="text/javascript">
	 window.onload=function(){
		var cityPicker = new IIInsomniaCityPicker({
					data: cityData,
					target: '#cityChoice',
					valType: 'k-v',
					hideCityInput: '#city',
					hideProvinceInput: '#province',
					callback: function(city){
						app.shop.shopCity = $("#cityChoice").val();
					}
				});
				cityPicker.init();
		 }

   		var shopId =1; // $.cookie('shopId');
      
		var app = new Vue({
			el: "#app",
			//data用于存放数据或者变量
			data: {
	
				error: null, 
				shop:{ 
					id:shopId,
					shopName:null,
					password:null,
					shopTypeId:null,
					shopCity:null,
					shopAddress:'',
					shopEmail:'',
					shopPhone:null,
					photoUrl:null,
					payPhoto:null,
					
				},    
				shopTypeList:[]
				
			},
			//用于数据初始化
			created: function () {
				
				this.getData();
				
			},
			//用于存放所有的事件方法集合
			methods: {
				getData(){
				
					this.$http.get('http://localhost/shopconsumer/shopdetail/getShopById/'+shopId,
							 {credentials: true }).then(function (response) {
						// response.data中获取ResponseData实体
						this.shop = response.body.shop;
						this.shopTypeList = response.body.shopTypeList;
						
						//   alert(response.body)
					}, function (response) {
						// 发生错误
						alert("发生错误")
					});
				},
			
				look_photo: function (index) {
					var file = $('input[type="file"]')[index-1].files[0];
				//	console.log(file);
					var reader = new FileReader();
					//使用该对象读取file文件
					reader.readAsDataURL(file);
					//读取文件成功后执行的方法函数
					reader.onload = function (e) {
						//读取成功后返回的一个参数e，整个的一个进度事件
                    
						$('#imgshow'+index).get(0).src = e.target.result;
					}
				},
				upload_photo: function (index) {

					var file = $('input[type="file"]')[index-1].files[0];
					var fileExt = file.name.substring(file.name.lastIndexOf("."))
						.toLowerCase();
                    var _this = this;
					if (!this.checkFileExt(fileExt)) {
						alert("您上传的文件不是图片,请重新上传！");
						//img.value = "";
						return;
					} else {
						var oss_name="";
						switch(index)
						{
						case 1:
							oss_name="shop";
							break;
					
						case 2:
							oss_name="pay_photo";
							break;
						}

						var photo_name = new Date().getTime() + "" + parseInt(Math.random() * 10000 + 1);
						var last_name = "/"+oss_name+"/" + photo_name;
						client.multipartUpload(last_name, file).then(function (result) {

						
							var imgUrl="https://lanke-foodie.oss-cn-beijing.aliyuncs.com"+last_name;
							_this.insertPhotoname(index,imgUrl);
								
								
							//console.log(imgUrl);
							alert("上传成功");
						
						}).catch(function (err) {
							console.log(err);
						});
					}
				},
				insertPhotoname(index,photoName){
					switch(index)
					{
						case 1: 	
							this.shop.photoUrl=photoName;
							break;
						case 2:
							this.shop.payPhoto=photoName;
							break;
					}
				},
				submit_dish() {
				
						if (!this.shop.shopName) {
							this.error='店铺名称不能为空';
						} else if (!this.validPassword(this.shop.password)) {
							alert('密码只能输入6-20个字母、数字、下划线 ');
						} else if (!this.shop.shopTypeId) {
							this.error='店铺类型不能为空';
						} else if (!this.shop.shopCity) {
							this.error='城市不能为空';
						} else if (!this.shop.shopAddress) {
							this.error='详情地址不能为空';
						} else if (!this.shop.shopPhone) {
							this.error='电话号不能为空';
						} else if (!this.shop.photoUrl) {
							this.error='店铺logo不能为空';
						} else if (!this.shop.payPhoto) {
							this.error='转账二维码不能为空';
						}else {
							this.upload_dish();
						
						}

				
				},
				upload_dish() {
					
				 	this.$http.post('http://localhost/shopconsumer/shopdetail/updateShop',this.shop, {credentials: true },{
						}, 
						).then(function (response) {
							// response.data中获取ResponseData实体
							console.log(response);
							alert(response.body.result);
						}, function (response) {
							// 发生错误
							console.log(response);
							alert("发生错误");
					});
				},
			
				checkFileExt(ext) {
					if (!ext.match(/.jpg|.gif|.png|.bmp/i)) {
						return false;
					}
					return true;
				},
				validPassword: function (password) {
					var re = /^(\w){6,20}$/;
					return re.test(password);
				},
				validEmail: function (email) {
					var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
					return re.test(email);
				},

				validPhone: function (phone) {
					var re = /^1([38]\d|5[0-35-9]|7[3678])\d{8}$/;
					return re.test(phone);
				},

			}

		})


		var client = new OSS.Wrapper({
			region: 'oss-cn-beijing',//你的oss地址 ，具体位置见下图
			accessKeyId: 'LTAICYbxfcsN4mvc',//你的ak
			accessKeySecret: 'Q3JmnUHAV0OvREvyhfpsxDuFEUyQSH',//你的secret
			secure: true,
			//stsToken: '<Your securityToken(STS)>',//这里我暂时没用，注销掉
			bucket: 'lanke-foodie'//你的oss名字
		});


	</script>

</body>

</html>